---
interface Props {
  url: string;
  date?: Date;
  summary?: string;
  syndication?: string[];
}

const { url, date, summary, syndication = [] } = Astro.props;
const isoDate = date?.toISOString() ?? '';
---

<span class="h-entry-meta" style="display:none" aria-hidden="true">
  <a rel="author" class="u-url u-uid p-author h-card" href={url}>Andy Stevens</a>
  {isoDate && <time class="dt-published" datetime={isoDate}>{isoDate}</time>}
  {summary && <data class="p-summary" value={summary}/>}
  {syndication.map((synUrl) => (
    <a class="u-syndication" href={synUrl}>{synUrl}</a>
  ))}
</span>
